* {
	margin: 0%;
	padding: 0%;
}

:root {
     /* light */
	--c-light-background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	--c-light-checkbox: #f5dd0a;

  /* dark */
	--light: #f9f9f9;
	--dark: #151515;
}

.try {
	background-color: var(--dark);
	transition: 0.8s;
}
.try.light {
	background-color: var(--light);
	transition: 0.8s;
}

body {
	color: aliceblue;
}

.switch {
	position: relative;
	margin-top: 3vh;
	margin-left: calc(100vw - 5em);
	display: inline-block;
	width: 4em;
	height: 2em;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	border-radius: 34px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	border-radius: 50%;
	position: absolute;
	content: "";
	height: 2em;
	width: 2em;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}


input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(calc(4em - 2em));
	-ms-transform: translateX(calc(4em - 2em));
	transform: translateX(calc(4em - 2em));
	background-color:rgb(63, 63, 156);
}

.greeting {
	font-size: 1em;
	padding: 40vh 10vw;
}

#myh1id {
	background: -webkit-linear-gradient(45deg,rgb(63, 63, 156), rgb(6, 133, 236));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: block;
	
}
